<!-- Document links -->
<aside class="pt-4 h-full pb-8 border-r shared-border-clr border-[#000]">
  <!-- Create document btn -->
  <div class="px-4">
    <button
      (click)="onDocumentCreate()"
      class="document-create-btn"
      mat-ripple
      type="button"
    >
      <div class="pl-[45.5px]">
        <span class="text-gray-600 text-[.875rem] leading-[18px]"
          >Hujjat yaratish</span
        >
      </div>

      <div class="flex h-full items-center">
        <div class="h-full w-[1px] bg-[#71badf]"></div>
        <mat-icon class="px-3" svgIcon="arrow-down-btn" />
      </div>
    </button>

    @if(isDocumentOpen()) {
    <div class="fixed inset-0 z-50 h-[100%] w-full">
      <app-create-document class="h-full" (closed)="onBtnCloseClicked()" />
    </div>
    }
  </div>
  <!-- /Create document btn -->

  <!-- Internal documents -->
  <app-internal-documents />
  <!-- /Internal documents -->

  <!-- Statistics -->

  <!-- /Statistics -->
</aside>
<!-- /Document links -->
