<!-- Document links -->
<aside class="pt-4 pb-8 border-r shared-border-clr border-[#000]">
  <!-- Create document btn -->
  <div class="px-4">
    <button class="document-create-btn" type="button">
      <div class="pl-[45.5px]">
        <span class="text-gray-600 text-[.875rem] leading-[18px]"
          >Hujjat yaratish</span
        >
      </div>

      <div class="flex items-center">
        <div class="h-full w-[1px] bg-[#000]"></div>
        <mat-icon class="px-3" svgIcon="arrow-down-btn" />
      </div>
    </button>
  </div>
  <!-- /Create document btn -->

  <!-- Internal documents -->
  <app-internal-documents />
  <!-- /Internal documents -->

  <!-- Statistics -->
  <app-statistics />
  <!-- /Statistics -->
</aside>
<!-- /Document links -->
