<div>
  <div class="notes-gradient rounded-tr-[20px] rounded-tl-[20px] px-4 py-2">
    <h3 class="">Notes</h3>
  </div>

  <div class="bg-white rounded-br-[20px] rounded-bl-[20px] px-4">
    <div class="pt-3">
      <input
        class="w-full text-gray-500 outline-none"
        type="text"
        placeholder="Take a note..."
      />
    </div>

    <div class="flex items-center pt-2 pb-4 mt-[18px] justify-between">
      <div class="flex items-center gap-4">
        <mat-icon svgIcon="text-icon" />
        <mat-icon svgIcon="add-img" />
        <mat-icon svgIcon="bar-menu" />
      </div>

      <mat-icon svgIcon="delete" />
    </div>
  </div>
</div>
