<!-- Monitoring main -->
<div class="flex w-[100%] gap-3 h-full">
  <!-- Left content -->
  <div class="w-[83%]">
    <!-- Category selector -->
    <div class="bg-white rounded-[20px]">
      <ul class="py-3 px-3 flex items-center gap-2">
        <li class="category-links">
          <a class="category-link">Yangiliklar</a>
        </li>

        <li class="category-links active-link">
          <a class="category-link">Statistika</a>
        </li>

        <li class="category-links">
          <a class="category-link">So'rovnoma</a>
        </li>
      </ul>
    </div>
    <!-- /Category selector -->

    <!-- Documents info -->
    <app-documents-info />
    <!-- /Documents info -->

    <!-- Received missions -->
    <app-received-missions />
    <!-- /Received missions -->

    <!-- Sent missions -->
    <app-sent-missions />
    <!-- /Sent missions -->

    <!-- Rule news -->
    <app-rule-news />
    <!-- /Rule  news-->
  </div>
  .
  <!-- /Left content -->

  <!-- Right content -->
  <div class="w-[16.25%] flex flex-col gap-3">
    <!-- Calendar -->
    <app-calendar />
    <!-- /Calendar -->

    <!-- Weather -->
    <app-weather />
    <!-- /Weather -->

    <!-- Birthdays -->
    <app-birthdays />
    <!-- /Birthdays -->

    <!-- Meeting -->
    <app-meeting />
    <!-- /Meeting -->

    <!-- Lex uz -->
    <app-lex-uz />
    <!-- /Lex uz -->

    <!-- Notes -->
    <app-notes />
    <!-- /Notes -->
  </div>
  <!-- /Right content -->
</div>
<!-- /Monitoring main -->
