<!-- Meeting -->
<div class="shared-container">
  <div class="flex items-center">
    <div class="max-w-[35px] max-h-[34px]">
      <mat-icon svgIcon="meet-logo" />
    </div>

    <div class="flex flex-col gap-[3px]">
      <mat-icon svgIcon="meet-icon-text" />
      <mat-icon svgIcon="digital-of-logo" />
    </div>
  </div>

  <div class="flex mt-4 gap-2">
    <button class="meeting-btn" type="button">
      <mat-icon svgIcon="plus-icon" />
      <span> create </span>
    </button>
    <button class="meeting-btn" type="button">
      <mat-icon svgIcon="video-camera" />
      <span>join</span>
    </button>
  </div>
</div>
<!-- /Meeting -->
