<!-- Create document -->
<div class="flex fixed inset-0 z-50 !overflow-hidden">
  <!-- Blurry bg -->
  <div class="w-[17.2%] bg-[#0c0c1e]/60 backdrop-blur-xl h-full">
    <div class="flex justify-end mt-4">
      <button
        type="button"
        (click)="onDocumentClose()"
        mat-ripple
        class="close-btn"
      >
        <mat-icon svgIcon="document-close" />
        <span class="text-white uppercase text-[0.75rem] leading-[16px]"
          >hujjat
        </span>
      </button>
    </div>
  </div>
  <!-- /Blurry bg -->

  <!-- Main content -->
  <div class="w-[82.8%] flex justify-between bg-[#F2F4F7] h-full">
    <!-- Left content -->
    <div class="w-[96.47%] border-r border-gray-100 flex flex-col h-full">
      <!-- Header -->
      <div
        class="flex w-full justify-between flex-shrink-0 items-center px-6 py-2"
      >
        <h2 class="pl-3 text-[1.625rem] text-gray-500 leading-[130%]">
          Kiruvchi hujjatni ro'yxatga olish
        </h2>

        <div class="flex gap-4">
          <button mat-ripple type="button" class="w-[40px] btn-style h-[40px]">
            <mat-icon svgIcon="document-setting" />
          </button>

          <button
            type="button"
            mat-ripple
            class="btn-style gap-2 pl-5 h-[40px] py-3 pr-[10px]"
          >
            <span> Шаблоны документов </span>

            <mat-icon svgIcon="document-arrow-down" />
          </button>
        </div>
      </div>
      <!-- /Header -->

      <div class="flex-1 min-h-0 custom-scrollbar overflow-y-auto">
        <app-document-form />
      </div>
    </div>
    <!-- /Left content -->

    <!-- Right links -->
    <div class="w-[3.52%] px-3">
      <div class="mb-6 pt-3">
        <mat-icon svgIcon="settings" />
      </div>

      <div class="flex flex-col gap-3">
        <mat-icon
          mat-ripple
          class="icons-style"
          svgIcon="cr-doc-notification"
        />
        <mat-icon mat-ripple class="icons-style" svgIcon="cr-doc-calendar" />
        <mat-icon mat-ripple class="icons-style" svgIcon="cr-doc-contact" />
        <mat-icon mat-ripple class="icons-style" svgIcon="cr-doc-list" />
        <mat-icon mat-ripple class="icons-style" svgIcon="cr-doc-question" />
        <mat-icon mat-ripple class="icons-style" svgIcon="cr-doc-message" />

        <div class="w-full h-[1px] bg-gray-200"></div>

        <mat-icon mat-ripple class="icons-style" svgIcon="cr-doc-year" />
      </div>

      <div class="mt-[650px]">
        <mat-icon svgIcon="chat" />
      </div>
    </div>
    <!-- /Right links -->
  </div>
  <!-- /Main content -->
</div>
<!-- /Create document -->
