.main-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 0.875rem;
    color: #98a2b3;
    line-height: 115%;
    margin-bottom: 6px;
  }

  input {
    background-color: #fff;
    border: 1px solid #d0d5dd;
    border-radius: 4px;
    color: #667085;
    font-size: 0.875rem;
    padding: 6px 12px;
    height: 40px;
  }
}

input,
textarea {
  transition: all 0.3s ease-in-out;
  outline: none;

  &:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 4px #dbeafe, 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
