<div class="main-input">
  <label [for]="dateText()">{{ dateText() }}</label>
  <div class="relative">
    <input
      type="text"
      class="w-full"
      [id]="dateText()!"
      [matDatepicker]="picker"
      [placeholder]="dateText()!"
      (focus)="picker.open()"
      readonly
    />
    <mat-icon
      class="absolute top-3 right-2 cursor-pointer"
      svgIcon="date-open"
      (click)="picker.open()"
    />
  </div>
</div>

<div class="flex justify-center">
  <mat-datepicker class="shadow-md w-full h-full" #picker></mat-datepicker>
</div>
