<!-- Weather  -->
<div class="bg-gradient-to-r from-[#41295A] to-[#2F0743] rounded-[20px] p-4">
  <div class="flex text-white items-center justify-between">
    <!-- Left content -->
    <article>
      <h3
        class="text-[1.25rem] leading-[100%] tracking-[.3px] mb-[2px] font-[500]"
      >
        Tashkent
      </h3>
      <span class="text-[0.75rem]">Cloudy</span>
    </article>
    <!-- /Left content -->

    <!-- Right content -->
    <div class="flex items-center gap-3">
      <span class="text-[2.25rem] tracking-[.3px] font-[500] leading-[110%]"
        >32°</span
      >
      <mat-icon svgIcon="weather" />
    </div>
    <!-- /Right content -->
  </div>
</div>
<!-- /Weather  -->
