<!-- Monitoring header -->
<div class="flex h-[56px] w-full items-center">
  <!-- Main part -->
  <div class="flex py-3 h-full cs-border pr-[28px] w-[97.8%] justify-between">
    <!-- Left content -->
    <div class="flex items-center gap-[50px]">
      <div class="flex items-center gap-2 pl-2">
        <mat-icon svgIcon="bar" />
        <mat-icon svgIcon="logo" />
        <h2 class="text-white text-[.875rem] font-[400]">Digital Office</h2>
      </div>

      <div class="relative">
        <input
          class="search-input shared-backdrop"
          type="text"
          placeholder="Search"
        />
        <mat-icon svgIcon="search" class="absolute right-4 top-2" />
      </div>
    </div>
    <!-- /Left content -->

    <!-- Right content -->
    <div class="flex items-center gap-6">
      <!-- Time -->
      <span class="text-white cursor-pointer text-[2.25rem] font-[300]"
        >18:08</span
      >
      <!-- /Time -->

      <!-- Gallery -->
      <div>
        <mat-icon svgIcon="gallery" class="icon-btn" />
      </div>
      <!-- /Gallery -->

      <!-- Eye  -->
      <div>
        <mat-icon svgIcon="eye" class="icon-btn" />
      </div>
      <!-- /Eye  -->

      <!-- Full screen -->
      <div (click)="toggleFullScreen()">
        <mat-icon svgIcon="full-screen" class="icon-btn" />
      </div>
      <!-- /Full screen -->

      <!-- Widget -->
      <div>
        <mat-icon svgIcon="widget" class="icon-btn" />
      </div>
      <!-- /Widget -->

      <div class="flex items-center gap-3">
        <!-- User -->
        <app-user-info-header />
        <!-- /User -->

        <!-- Language -->
        <app-select-language />
        <!-- /Language -->
      </div>
    </div>
    <!-- /Right content -->
  </div>
  <!-- /Main part -->

  <!-- Right -->
  <div class="header-right w-[3%]">
    <mat-icon class="cursor-pointer" svgIcon="settings" />
  </div>
  <!-- /Right -->
</div>
<!-- /Monitoring header -->
