<!-- Right icons -->
<div class="px-3 pt-3 border-l shared-border-clr">
  <div class="flex flex-col gap-3">
    <mat-icon mat-ripple class="right-icon-style" svgIcon="notification" />
    <mat-icon mat-ripple class="right-icon-style" svgIcon="calendar-right" />
    <mat-icon mat-ripple class="right-icon-style" svgIcon="contact-info" />
    <mat-icon mat-ripple class="right-icon-style" svgIcon="right-list" />
    <mat-icon mat-ripple class="right-icon-style" svgIcon="question-mark" />
    <mat-icon mat-ripple class="right-icon-style" svgIcon="comment-icon" />
  </div>

  <div class="mt-6">
    <mat-icon mat-ripple class="right-icon-style" svgIcon="year-icon" />
  </div>

  <div class="mt-[650px]">
    <mat-icon svgIcon="chat" mat-ripple class="cursor-pointer" />
  </div>
</div>
<!-- /Right icons -->
