<div #container class="relative">
  <button
    mat-ripple
    (click)="toggleDropdown()"
    type="button"
    class="language-btn"
  >
    <mat-icon [svgIcon]="currentLang.icon" />
    <span class="font-[.875rem] text-white">{{ currentLang.label }}</span>
    <mat-icon svgIcon="arrow-down" />
  </button>

  @if(isOpen()) {
  <div
    class="absolute bg-white z-20 p-2 gap-2 shadow-md left-0 w-full rounded-lg"
  >
    <div class="flex flex-col">
      @for(lang of languages; track lang.code) { @if(lang.code !==
      currentLang.code) {
      <button
        class="flex px-[10px] py-1 cursor-pointer items-center gap-2 hover-state"
        mat-ripple
        (click)="selectLanguage(lang)"
      >
        <div class="w-[24px]">
          <mat-icon [svgIcon]="lang.icon" />
        </div>
        <span>{{ lang.label }}</span>
      </button>
      } }
    </div>
  </div>
  }
</div>
