/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "@angular/material" as mat;

:root {
  @include mat.datepicker-overrides(
    (
      calendar-container-background-color: white,
    )
  );
}

// Reset styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.no-scroll {
  overflow: hidden;
}

// Remove up and down arrow from input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// End of reset styles

// Customize mat-icon
.mat-icon {
  width: auto !important;
  height: auto !important;
  font-size: inherit !important;
}

// End of customization

// Shared style
.shared-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 1px 2px 0px #1018280d;

  backdrop-filter: blur(56px);
}

.shared-gradient {
  background: linear-gradient(
    84.43deg,
    rgba(242, 245, 250, 0.765) 14.91%,
    rgba(241, 244, 248, 0.5865) 47.7%,
    rgba(255, 255, 255, 0.6885) 67.51%,
    rgba(251, 254, 255, 0.85) 95.19%
  );
  backdrop-filter: blur(24px);
}

.shared-title {
  font-size: 1.625rem;
  line-height: 100%;
  color: #fff;
}

.shared-container {
  background-color: white;
  padding: 16px;
  border-radius: 20px;
}

.shared-border-clr {
  border-color: rgba(255, 255, 255, 0.2);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 40px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
}

// Animations
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-anim {
  animation: fadeInSlide 0.3s ease-out;
}
