/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

// Reset styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

// Remove up and down arrow from input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// End of reset styles

// Customize mat-icon
.mat-icon {
  width: auto !important;
  height: auto !important;
  font-size: inherit !important;
}

// End of customization

// Shared style
.shared-backdrop {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  box-shadow: 0px 1px 2px 0px #1018280d;

  backdrop-filter: blur(56px);
}

.shared-gradient {
  background: linear-gradient(
    to right,
    #f2f5fac5 0%,
    #f1f4f8b0 40%,
    #ffffffc5 70%
  );
}

.shared-title {
  font-size: 1.625rem;
  line-height: 100%;
  color: #fff;
}

.shared-container {
  background-color: white;
  padding: 16px;
  border-radius: 20px;
}

.shared-border-clr {
  border-color: rgba(255, 255, 255, 0.2);
}

// Animations
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-anim {
  animation: fadeInSlide 0.3s ease-out;
}
