<!-- Birthdays -->
<div class="shared-container">
  <div class="flex gap-3">
    <div
      class="w-[48px] p-3 h-[48px] bg-[#DCDAFA] flex items-center justify-center rounded-full"
    >
      <mat-icon svgIcon="birthday-cake" />
    </div>

    <article>
      <h3 class="text-[1.125rem] leading-[24px] font-[500]">
        Tug'ilgan kunlar
      </h3>
      <span class="text-[0.813rem] block leading-[16px] text-[#0BA5EC]">
        Bugun Abbos Xazratov va yana 4 kishining tugʻilgan kuni
      </span>
    </article>
  </div>
</div>
<!-- /Birthdays -->
